body {
    max-width: 600px;
    margin: 0 auto;
}

.ONE {
    background: pink;
    border-style: 3px solid blue;
    padding: 32px;
    margin: 12px;
}

.TWO {
    background: lightblue;
    border-style: 3px solid purple;
    margin-bottom: 48px;
}

.THREE {
    background: peachpuff;
    border-style: 3px solid red;
    width: 200px;
    padding: 32px;
    margin-left: auto;
}